*
{
    font-weight: 200;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    color: rgb(255,255,255);
    font-family: miui,PingFang SC,STHeitiSC-Light,Helvetica-Light,arial,sans-serif,Droid Sans Fallback
}
